:root {
    --width: 200px;
    --height: 400px;
}

body {
    background: radial-gradient(#a8c7c2, #31ceb6);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #a8c7c2;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 100;
}

p {
    white-space: nowrap;
}

label {
    white-space: nowrap;
}

button {
    background-color: #f55e72;
    border-radius: 3px;
}

.container {
    display: flex;
    justify-content: center;

}

.grid {
    width: var(--width);
    height: var(--height);
    background-color: #61a197;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
}

.grid div {
    height: 20px;
    width: 20px;

}

.tetromino {
    border-radius: 2px;

}

.miniGrid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #61a197;
    border-radius: 2px;

}

.miniGrid div {
    height: 20px;
    width: 20px;
}

.control {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #61a197;
    border-radius: 2px;
    margin-right: 50px;
}

.control div {
    height: 20px;
    width: 20px;
}

.gridSpecs {
    padding-top: 20px;
    width: 100px;
}

input[type="range"] {
    width: 100px;
}

.startButton {
    margin-top: 30px;
}

.reset {
    margin-top: 10px;
}

.gridLabel {
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    width: 80px;
    background-color: #3c635d;
}